.App {
  text-align: center;
}
.SpinsTableView {
  font-size: 7px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.SpinsTableView td {
  width: 7px;
  height: 7px;
  margin: 0;
  padding: 0;
}
.SpinsTableView .black {
  background-color: black;
}
.EnergyPlotView {
  display: inline-block;
  vertical-align: top;
}